.app{


    &__cabecera{
        margin-bottom: 1rem;
    }

    &__consolidado{
        margin-bottom: 2rem
    }

    &__cabecera,&__body, &__consolidado, &__descricion{
        padding: 1rem;
    }





    &__acciones{
        position: fixed;
        bottom: 0;
        z-index: 5;
        width: 100%;
       
        padding: 0;
        margin: 0;
        padding: 0.5rem;
        box-sizing: border-box;

        .agregar_presupuesto, .agregar_gasto {
            border-radius: 0.5rem;
            margin-bottom: 0.5rem;
            padding: 0.5rem;

        }

        .agregar_presupuesto{
            border: 1px green solid;
            background-color: rgb(224, 255, 224);
        }

        .agregar_gasto{
            border: 1px red solid;
            background-color: rgb(255, 224, 224);
        }
   
    }

    &__titulos{
        font-size: 1rem;
    }
}

.form{
  &__group{
    margin-bottom: 0.5rem;
  }   
}