.portada{
    padding: 1rem;

    &__titulo{
          margin-bottom: 0.5rem;
          p{
            font-size: 0.8em;
          }
    }

    &__callToAction{
        margin: 2rem auto;
        background-color: beige;
        padding: 1.2rem;
        p{
            font-size: 0.7em;
            text-align: left;
        }
    }


}

